/* common styles */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 108px;
    margin-bottom: 25px;
}

.section-description {
    color: #272727;
    text-align: center;
    font-size: 18px;
}

/* header related styles */
.header {
    background-color: #E554731A;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box width: 1920px;
    height: 850px;
    margin-left: 17px;
    margin-top: 50px;

}

.banner {
    padding: 0px 230px 30px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 700px;
    margin: auto;
}

.banner .profile-pic {
    width: 635px;
}


.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 0px;
}

.banner-description {
    margin-top: 35px;
    margin-bottom: 45px;
}

/* main related syles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* feature flower related style */

.feature {
    max-width: 594px;
    text-align: center;
    margin: 0 auto;
}

#feature-descrip {
    font-weight: 400px;
    margin-bottom: 60px;
}

.flower-container {
    display: flex;
    gap: 24px;
    text-align: center;
}


.flower1>img {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 100px 70px 0px;

}

.flower2>img {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 100px 50px 60px 50px;

}

.flower3>img {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 60px 70px 0px;
}

/* info-icon related styles */

.icon-container {
    padding: 130px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 0px;
}

.info-icon {
    display: flex;
    justify-content: space-around;
}

.icon {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: rgba(39, 39, 39, 0.8);
}